.slick-slide
  margin: 0 27px

.slick-list
  margin: 0 -27px

.news__block

.news__item
  display: inline-block
  //width: 300px
  overflow: hidden
  white-space: nowrap

  a.header__news-link
    text-decoration: none
    height: 20px
    overflow: hidden

  h3.header__news
    font-size: 18px
    font-weight: 500
    line-height: 24px
    color: $mint !important
    text-decoration: none
    position: relative
    left: 0px
    white-space: nowrap
    transition: 6s linear
    display: inline-block
    &:hover
      transform: translateX(calc(-100% + 100px))
  p
    font-size: 16px
    line-height: 20px
    hyphens: auto
    white-space: normal
    overflow-wrap: break-word
    text-align: justify

//text-align: justify
    //hyphens: auto
    //hyphenate-limit-chars: 6 3 2
//white-space: normal
//word-break: break-all
//ord-wrap: break-word

.news__link
  display: block
  position: relative
  color: $coral
  text-align: right

  &:hover
    color: $coral
    text-decoration: underline

